<script src="{{ url_for('static', filename='vendor/pdfjs/pdf.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/library_layout.js') }}"></script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
<script src="{{ url_for('static', filename='js/print.js') }}"></script>
<script src="{{ url_for('static', filename='js/viewer.js') }}"></script>
<script src="{{ url_for('static', filename='js/score_editor_preview.js') }}"></script>
<script src="{{ url_for('static', filename='js/tags.js') }}"></script>
<script src="{{ url_for('static', filename='js/score_editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/library.js') }}"></script>
