{% from "macros/settings_ui.html" import options_open, options_close, option_field %}
{% set fp = password_field_prefix|default('maestro-') %}
{{ options_open() }}
{{ option_field('current_password', fp ~ 'current-password', 'Current password', '', required=true, input_type='password', autocomplete='current-password') }}
{{ option_field('new_password', fp ~ 'new-password', 'New password', '', password_min_len_hint, required=true, input_type='password', autocomplete='new-password', minlength=password_min_len) }}
{{ option_field('new_password_confirm', fp ~ 'new-password-confirm', 'Confirm new password', '', required=true, input_type='password', autocomplete='new-password', minlength=password_min_len) }}
{{ options_close() }}
