{% from "macros/settings_ui.html" import overlay_start, overlay_end, form_start, form_end, panel %}

{{ overlay_start('maestro-dialog-overlay', 'maestro-dialog-title', 'Add maestro', 'data-maestro-dialog-close') }}
{{ form_start('maestro-dialog-form', '', 'multipart/form-data') }}
<input type="hidden" name="maestro_id" id="maestro-dialog-id" value="">
{% call panel('Account') %}
  {% with fp='maestro-', display_name='', username='', password_hint='Required for new maestros', password_required=true %}
    {% include "partials/maestro_account_fields.html" %}
  {% endwith %}
{% endcall %}
{% with appearance_field_prefix='maestro-', appearance_site_title='', appearance_show_site_title=true, appearance_logotype_preview=true, appearance_logotype=true, appearance_logotype_remove_hidden=true, appearance_logotype_remove_wrap_id='maestro-remove-logotype-wrap', appearance_theme_css='', appearance_theme_mode='admin', appearance_theme_text_hidden=true, appearance_theme_text_group_id='maestro-theme-text-group' %}
  {% include "partials/maestro_appearance_fields.html" %}
{% endwith %}
{% call form_end('data-maestro-dialog-close') %}
<div class="settings-dialog-footer-start">
  <button type="button" class="btn btn-danger hidden" id="maestro-delete-btn" title="Delete maestro">Delete</button>
</div>
{% endcall %}
{{ overlay_end() }}
