{% from "macros/settings_ui.html" import overlay_start, overlay_end, panel %}

{{ overlay_start('maestro-settings-overlay', 'maestro-settings-title', 'Settings', 'data-maestro-settings-close') }}
<div class="settings-dialog-body" id="maestro-settings-body">
  <input type="hidden" name="csrf_token" id="maestro-settings-csrf" value="{{ csrf_token() }}">
  {% call panel('Library') %}
    {% with maestro_cfg=maestro_settings.config, config_field_prefix='maestro-settings-' %}
      {% include "partials/maestro_library_config_fields.html" %}
    {% endwith %}
  {% endcall %}
  {% with appearance_field_prefix='maestro-settings-', appearance_site_title=maestro_settings.config.site_title, appearance_site_title_required=true, appearance_show_site_title=maestro_settings.config.show_site_title, appearance_logotype=maestro_settings.config.logotype, appearance_theme_css=maestro_settings.theme_css, appearance_theme_mode='settings' %}
    {% include "partials/maestro_appearance_fields.html" %}
  {% endwith %}
  {% call panel('Account') %}
    {% with password_field_prefix='maestro-', password_min_len=password_min_len, password_min_len_hint='At least ' ~ password_min_len ~ ' characters' %}
      {% include "partials/maestro_password_fields.html" %}
    {% endwith %}
  {% endcall %}
</div>
<div class="settings-dialog-footer">
  <a class="settings-dialog-logout" href="{{ url_for('logout') }}">Log out</a>
  <button type="button" class="btn" data-maestro-settings-close>Cancel</button>
  <button type="button" class="btn btn-primary" id="maestro-settings-save">Save</button>
</div>
{{ overlay_end() }}
