{% from "macros/settings_ui.html" import overlay_start, overlay_end, form_start, form_end, panel %}

{{ overlay_start('maestro-password-overlay', 'maestro-password-title', 'Change password', 'data-maestro-password-close') }}
{{ form_start('maestro-password-form', scoped_url('maestro_change_password')) }}
{% call panel('Password') %}
  {% with password_field_prefix='maestro-', password_min_len=password_min_len, password_min_len_hint='At least ' ~ password_min_len ~ ' characters' %}
    {% include "partials/maestro_password_fields.html" %}
  {% endwith %}
{% endcall %}
{% call form_end('data-maestro-password-close') %}{% endcall %}
{{ overlay_end() }}
