{% extends "base.html" %}
{% block body %}
{% if not preview_mode %}
{% set header_extra_nav %}
<a class="header-link" href="{{ url_for('maestro_appearance') }}">Appearance</a>
<button type="button" class="header-link" id="maestro-password-btn">Password</button>
{% endset %}
{% endif %}
{% include "partials/site_header.html" %}
<div class="maestro-layout" id="maestro-root">
  <div class="maestro-col" id="maestro-global">
    {% with library_panel=global_library_panel %}
      {% include "partials/library_panel.html" %}
    {% endwith %}
  </div>
  <div class="maestro-col" id="maestro-users">
    {% with panel_title="Users", user_tree=user_tree, tree_ctx=tree_ctx, query=query, active_tag=active_tag %}
      {% include "partials/user_tree_panel.html" %}
    {% endwith %}
  </div>
  <div class="maestro-col" id="maestro-user-lib">
    {% if user_library_panel %}
      {% with library_panel=user_library_panel %}
        {% include "partials/library_panel.html" %}
      {% endwith %}
    {% else %}
    <div class="desktop-panel">
      <div class="desktop-panel-header"><span>User library</span></div>
      <div class="desktop-panel-empty">Select a user to view their library.</div>
    </div>
    {% endif %}
  </div>
</div>
{% include "partials/user_dialog.html" %}
{% include "partials/user_handout_dialog.html" %}
{% include "partials/maestro_password_dialog.html" %}
{% include "partials/score_viewer_overlay.html" %}
{% endblock %}
{% block scripts %}
{% include "partials/library_scripts.html" %}
<script src="{{ url_for('static', filename='js/maestro.js') }}"></script>
{% endblock %}
