{% extends "base.html" %}
{% block body %}
{% include "partials/site_header.html" %}
<div class="maestro-layout" id="maestro-root"
     data-enable-printing="{{ 'true' if maestro_library_features.enable_printing else 'false' }}"
     data-enable-download="{{ 'true' if maestro_library_features.enable_download else 'false' }}">
  <div class="maestro-col" id="maestro-global">
    {% with library_panel=global_library_panel %}
      {% include "partials/library_panel.html" %}
    {% endwith %}
  </div>
  <div class="maestro-col" id="maestro-users">
    {% with panel_title="Users", user_tree=user_tree, tree_ctx=tree_ctx, query=query, active_tag=active_tag %}
      {% include "partials/user_tree_panel.html" %}
    {% endwith %}
  </div>
  <div class="maestro-col" id="maestro-user-lib">
    {% include "partials/maestro_user_library_column.html" %}
  </div>
</div>
{% include "partials/user_dialog.html" %}
{% include "partials/user_handout_dialog.html" %}
{% include "partials/score_viewer_overlay.html" %}
{% include "partials/flash_toast.html" %}
{% endblock %}
{% block scripts %}
{% include "partials/library_scripts.html" %}
<script src="{{ url_for('static', filename='js/page_nav.js') }}"></script>
<script src="{{ url_for('static', filename='js/maestro.js') }}"></script>
{% endblock %}
